@use "styles/variables";
@use "styles/colors";
@import "/styles/mixins";

.carousel :global(.swiper) {
  height: variables.$folder-height;
  min-height: variables.$min-folder-height;
}

.bannerWrapper {
  &.layout_1 {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    .background {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
      z-index: -1;
    }
    .topSection {
      width: 90%;
      height: 70%;
      display: flex;
      .leftSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 50%;
        & > img {
          min-width: 250px;
          max-width: 70%;
          max-height: 80%;
        }
        .subtitulo {
          margin-top: 1.5em;
          margin-bottom: 2em;
          text-align: center;
          font-size: 1.5em;
          color: colors.$main-color;
          strong {
            font-weight: bold;
          }
        }
        .socialMedia {
          img {
            margin-right: 1em;
            width: 30px;
            height: 30px;
          }
          & img:last-of-type {
            margin-right: 0;
          }
        }
      }
      .rightSection {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .heroImage {
          min-height: 350px;
          height: 100%;
          max-height: 80%;
          margin-bottom: -2px;
        }
      }
    }
    .divider {
      .wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        .line {
          flex: 1;
          height: 100%;
          background-color: colors.$dark-color;
          border-radius: 3px;
        }
        .cta {
          @include cta;
          margin: 0 2em;
        }
      }

      position: relative;
      height: 3px;
      width: 90%;
    }
    .bottomSection {
      margin-top: 60px;
      text-align: center;
      color: colors.$dark-color;
      width: 35%;
      min-width: 280px;
      flex: 1;
    }
  }
  &.layout_2 {
  }
  height: 100%;
  width: 100%;
  background-color: white;

  @media (max-width: 750px) {
    &.layout_1 {
      .topSection {
        flex-direction: column;
        .leftSection {
          width: 100%;
        }
        .rightSection {
          display: none;
        }
      }
    }
  }
}
