$main-color: #001d7e;
$gradient: linear-gradient(
  180deg,
  rgba(71, 193, 241, 1) 0%,
  rgba(44, 104, 177, 1) 100%
);
$gradient-vertical: linear-gradient(
  90deg,
  rgba(71, 193, 241, 1) 0%,
  rgba(44, 104, 177, 1) 100%
);
$cta-background-1: #b6fc07;
$dark-color: #263545;
$active-text-color: #005cab;
