@use "styles/variables";
@use "styles/colors";
@import "/styles/mixins";

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.demo {
  min-height: variables.$min-folder-height;
  padding: 2rem 5%;
  padding-bottom: 0;
  background: colors.$gradient-horizontal;
  display: flex;

  .container {
    h2,
    h3 {
      color: white;
      margin: 0;
    }
    h2 {
      @include h2;
      margin-bottom: 1rem;
    }
    h3 {
      font-weight: normal;
      font-size: 1.2em;
      margin-bottom: 3rem;
    }
    img {
      flex: 1;
      width: 100%;
      object-fit: contain;
      object-position: left bottom;
    }
    display: flex;
    width: 60%;
    align-items: flex-start;
    flex-direction: column;
  }

  .container2 {
    margin-left: 5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    img {
      min-height: 150px;
      max-height: 350px;
      height: 50%;
      margin-bottom: 2rem;
    }
    .cta {
      @include cta;
      margin-bottom: 2rem;
    }
  }
}

.resultados {
  min-height: 700px;
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    margin-top: 0;
    color: colors.$dark-color;
    @include h2;
    font-weight: bold;
    font-size: 3em;
  }
  & > p {
  }
  .resultadosWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    height: 100%;
    gap: 5%;
    .resultadosHeroWrapper {
      flex: 1;
      max-width: 600px;
      display: flex;
      width: 30%;
      flex-direction: column;
      justify-content: flex-end;
      p {
        color: colors.$dark-color;
        strong {
          color: colors.$secondary-color;
        }
      }
      img {
        height: 300px;
      }
    }
    .resultadosContainer {
      border-radius: 30px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: -15px;
        left: 15px;
        z-index: -1;
        height: 100%;
        background: transparent;
        border-radius: 30px;
        border: 3px solid colors.$secondary-color;
      }
      margin: 0;
      padding: 2rem 5%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      background: colors.$gradient-horizontal;
      li {
        display: flex;
        align-items: center;
        .number {
          font-size: 2em;
          min-width: 70px;
          text-align: center;
        }
        p {
          margin: 0;
          color: white;
          margin-right: 1.5rem;
        }
        & > * {
          margin-right: 1.5rem;
        }
      }
      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        object-position: center;
      }
    }
  }
  & > p {
    text-align: right;
    width: 100%;
    margin-top: 1rem;
    font-weight: bold;
    color: colors.$dark-color;
    font-size: 12px;
  }
  .resultados_divider {
    height: 3px;
    margin: 1rem 0;
    background: colors.$gradient-horizontal;
    border-radius: 3px;
  }
}

.blog {
  background-color: colors.$dark-color;
  color: white;
  display: flex;
  padding: 3rem 5%;
  gap: 3rem;
  .newsletter {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .newsletterContainer {
      min-width: 350px;
      border-radius: 60px;
      display: flex;
      flex-direction: column;
      background: colors.$gradient-horizontal;
      width: 70%;
      position: relative;
      height: 80%;
      padding: 2rem 2rem;
      .form {
        flex: 1;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .submit {
          @include cta;
          border: none;
        }
        label {
          color: colors.$dark-color;
        }
      }
      h3 {
        color: colors.$dark-color;
        font-weight: normal;
        text-align: center;
        width: 100%;
        font-size: 2em;
        strong {
          color: colors.$main-color;
        }
      }
      &::after {
        content: "";
        background: white;

        width: 100%;
        height: 100%;
        bottom: 15px;
        right: 15px;
        border-radius: 60px;
        z-index: 0;
        position: absolute;
      }
      & > * {
        transform: translate(-15px, -15px);
        z-index: 3;
        position: relative;
      }
    }
  }
  .artigosWrapper {
    .artigos {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: {
        top: 10px;
        left: 10px;
      }
      .artigo {
        &::after {
          content: "";
          background-color: white;

          width: 100%;
          height: 100%;
          bottom: 15px;
          right: 15px;
          border-radius: 1rem;
          z-index: 0;
          position: absolute;
        }
        padding: 1rem;
        display: flex;
        width: 90%;
        max-width: 750px;
        border-radius: 1rem;
        background: colors.$gradient-horizontal;
        margin: 1.25rem 0;
        color: colors.$dark-color;
        height: 150px;
        z-index: 1;
        position: relative;
        img {
          border-radius: 1rem;
          object-fit: cover;
          object-position: center;
          height: 100%;
          @supports (aspect-ratio: 2/1) {
            aspect-ratio: 2/1;
          }
          @supports not (aspect-ratio: 2/1) {
            width: 200px;
          }
        }
        .descriptionWrapper {
          margin-left: 2rem;
          display: flex;
          flex-direction: column;
          font-weight: bold;
        }
        & > * {
          transform: translate(-15px, -15px);
          z-index: 3;
          position: relative;
        }
      }

      & :nth-child(odd) {
        align-self: flex-start;
      }
    }
    width: 65%;
    strong {
      color: colors.$secondary-color;
    }
    h2 {
      @include h2;
      margin-top: 0;
    }
  }
}

.materiais {
  height: variables.$folder-height;
  min-height: variables.$min-folder-height;
  padding: 2rem 5%;
  background: white;
  .materiaisDiv {
    display: flex;
    flex-direction: column;
  }
  .materiaisContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    grid-template-rows: 150px;
    row-gap: 1.5rem;
    column-gap: 2.5rem;
    .material {
      padding: 20px;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      .materialDescription {
        display: flex;
        flex-direction: column;
        width: 50%;
        color: white;
        h3 {
          font-size: 1.25rem;
        }
      }
      img {
        height: 100%;
        object-fit: contain;
      }
      &:nth-child(1) {
        background-color: pink;
      }
      &:nth-child(2) {
        background-color: green;
      }
      &:nth-child(3) {
        background-color: purple;
      }
      &:nth-child(4) {
        background-color: orange;
      }
    }
  }
  .materiaisWrapper {
    display: flex;
  }
  h2 {
    @include h2;
    font-size: 2.5em;
    color: colors.$dark-color;
  }
  .videosDivider {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    h2 {
      @include h2;
      color: colors.$dark-color;
      font-size: 2.5em;
      margin: 0 2rem;
    }
    span {
      height: 3px;
      flex: 1;
      background-color: colors.$dark-color;
    }
  }
}
