:root {
  --header-height: 40px;
  --footer-height: 200px;
  --folder-height: 80vh;

  /* Colors */
  --main-color: #001d7e;
  --gradient-color: linear-gradient(
    180deg,
    rgba(71, 193, 241, 1) 0%,
    rgba(44, 104, 177, 1) 100%
  );
  --gradient-color-vertical: linear-gradient(
    90deg,
    rgba(71, 193, 241, 1) 0%,
    rgba(44, 104, 177, 1) 100%
  );
  --button-color: #b6fc07;
  --dark-color: #263545;
}
